<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}
        <div class="container">
        <div class="row">
        <div id="content" class="col-sm-8">
        {{ block "main" . }}{{ end }}
        </div>
        <div class="col-sm-4">

            

    <h3>カテゴリー</h3>
    <ul class="side-menu-list">
{{ range $items := .Site.Taxonomies.categories.Alphabetical.Reverse }}
<li><a href="{{ $.Site.BaseURL }}/categories/{{ .Name | urlize | lower }}/">{{ .Name }} ({{ .Count }})</a></li>
{{ end }}
</ul>




        </div>
      </article>
    </div>

        </div>
      </div>
    </div>
        {{ partial "footer.html" . }}
    </body>
</html>
